@forward '@nebular/theme/styles/theming';
@use '@nebular/theme/styles/theming' as *;
@use '@nebular/theme/styles/themes/corporate';

$nb-themes: nb-register-theme((
  color-primary-100: #EEF2F6,
  color-primary-200: #DEE6EE,
  color-primary-300: #B8C1CC,
  color-primary-400: #878E9A,
  color-primary-500: #494E57,
  color-primary-600: #353C4A,
  color-primary-700: #242C3E,
  color-primary-800: #171E32,
  color-primary-900: #0E1329,
  color-success-100: #E9FBD5,
  color-success-200: #CEF8AB,
  color-success-300: #A8EC7E,
  color-success-400: #82D95B,
  color-success-500: #4FC12C,
  color-success-600: #35A520,
  color-success-700: #208A16,
  color-success-800: #0F6F0E,
  color-success-900: #085C0C,
  color-info-100: #CDF1FF,
  color-info-200: #9BDEFF,
  color-info-300: #6AC6FF,
  color-info-400: #45AEFF,
  color-info-500: #0787FF,
  color-info-600: #0568DB,
  color-info-700: #034DB7,
  color-info-800: #023693,
  color-info-900: #01267A,
  color-warning-100: #FDF9CD,
  color-warning-200: #FCF29C,
  color-warning-300: #F6E569,
  color-warning-400: #EDD644,
  color-warning-500: #E2C20B,
  color-warning-600: #C2A308,
  color-warning-700: #A28605,
  color-warning-800: #836A03,
  color-warning-900: #6C5602,
  color-danger-100: #FFDCD8,
  color-danger-200: #FFB3B2,
  color-danger-300: #FF8B95,
  color-danger-400: #FF6F89,
  color-danger-500: #FF3F75,
  color-danger-600: #DB2E6F,
  color-danger-700: #B71F68,
  color-danger-800: #93145D,
  color-danger-900: #7A0C56,
  background-basic-color-1: color-primary-700,
  background-basic-color-2: color-primary-800,
  background-basic-color-3: color-primary-900,
  background-basic-color-4: color-primary-100,
  border-basic-color-1: color-primary-700,
  border-basic-color-2: color-primary-800,
  border-basic-color-3: color-primary-900,
  border-basic-color-4: color-primary-1000,
  border-basic-color-5: color-primary-1100,
  shadow: 0 0.5rem 1rem 0 rgba(25, 30, 51, 0.24),
  text-basic-color: color-primary-100,
  text-hint-color: text-basic-color,
  text-disabled-color: color-primary-300,
  button-ghost-background-color: color-primary-700,
  button-ghost-basic-text-color: color-primary-100,

), bm-theme, corporate);
