@forward '@nebular/theme/styles/theming';
@use '@nebular/theme/styles/theming' as *;
@use '@nebular/theme/styles/themes/corporate';

$nb-themes: nb-register-theme((
  color-primary-100: #FDFEE1,
  color-primary-200: #FBFEC4,
  color-primary-300: #F8FCA6,
  color-primary-400: #F4FA8F,
  color-primary-500: #EFF86A,
  color-primary-600: #CBD54D,
  color-primary-700: #A8B235,
  color-primary-800: #868F21,
  color-primary-900: #6E7714,
  color-success-100: #E4FDE0,
  color-success-200: #C4FBC2,
  color-success-300: #A1F4A6,
  color-success-400: #86EA96,
  color-success-500: #5FDD7F,
  color-success-600: #45BE6F,
  color-success-700: #2F9F61,
  color-success-800: #1E8053,
  color-success-900: #126A4A,
  color-info-100: #CEF2FE,
  color-info-200: #9DE0FE,
  color-info-300: #6CC9FD,
  color-info-400: #47B1FB,
  color-info-500: #0C8BF9,
  color-info-600: #086BD6,
  color-info-700: #0650B3,
  color-info-800: #033890,
  color-info-900: #022877,
  color-warning-100: #FFFAD2,
  color-warning-200: #FFF3A6,
  color-warning-300: #FFEB79,
  color-warning-400: #FFE358,
  color-warning-500: #FFD621,
  color-warning-600: #DBB318,
  color-warning-700: #B79210,
  color-warning-800: #93720A,
  color-warning-900: #7A5C06,
  color-danger-100: #FFEAE2,
  color-danger-200: #FFD0C5,
  color-danger-300: #FFB1A9,
  color-danger-400: #FF9493,
  color-danger-500: #FF707C,
  color-danger-600: #DB5169,
  color-danger-700: #B7385A,
  color-danger-800: #93234B,
  color-danger-900: #7A1542,
  text-hint-color: text-basic-color,
  background-basic-color-1: color-primary-700,
  background-basic-color-2: color-primary-800,
  background-basic-color-3: color-primary-900,
  background-basic-color-4: color-primary-100,
  border-basic-color-1: color-primary-700,
  border-basic-color-2: color-primary-800,
  border-basic-color-3: color-primary-900,
  border-basic-color-4: color-primary-1000,
  border-basic-color-5: color-primary-1100,
  shadow: 0 0.5rem 1rem 0 rgba(25, 30, 51, 0.24),
  text-disabled-color: color-primary-600,
  button-ghost-background-color: color-primary-700,
  button-ghost-basic-text-color: color-primary-600,

), bm-theme, corporate);
