<nb-card size="small" class="custom-card">
  <nb-card-header class="card-header">
    <h5>Login</h5>
  </nb-card-header>
  <nb-card-body class="card-body">
    <div *ngIf="loginWithUserNameActivated" class="form-row">
      <nb-icon nbPrefix icon="person-outline" pack="eva"></nb-icon>
      <input type="text" [(ngModel)]="userName" nbInput status="primary" placeholder="Username">
    </div>
    <div *ngIf="loginWithEmailActivated" class="form-row">
      <nb-icon nbPrefix icon="email-outline" pack="eva"></nb-icon>
      <input type="email" [(ngModel)]="email" nbInput status="primary" placeholder="Email">
    </div>
    <div class="form-row">
      <nb-icon nbPrefix icon="shield-outline" pack="eva"></nb-icon>
      <div class="password">
        <input [type]="getInputType(getCheckType().PASSWORD)" nbInput [(ngModel)]="password" status="primary" placeholder="Password">
        <button nbSuffix nbButton ghost (click)="toggleShowPassword(getCheckType().PASSWORD)">
          <nb-icon [icon]="showPassword ? 'eye-outline' : 'eye-off-2-outline'" pack="eva" [attr.aria-label]="showPassword ? 'hide password' : 'show password'"></nb-icon>
        </button>
      </div>
    </div>
    <div class="form-row">
      <p>Don't have an account? <span (click)="redirectToRegisterPage()">Register</span></p>
    </div>
  </nb-card-body>
  <nb-card-footer class="card-footer">
    <button [nbSpinner]="isFetching$ | async" nbSpinnerStatus="control " nbButton outline="true" status="control"
            (click)="login()">
        <ng-container *ngIf="!(isFetching$ | async)">
          Login
        </ng-container>
    </button>
    <button *ngIf="!(isFetching$ | async)" nbButton outline="true" status="control"
            (click)="changeLoginType()">
      <ng-container *ngIf="loginWithUserNameActivated">
        Login with email
      </ng-container>
      <ng-container *ngIf="loginWithEmailActivated">
        Login with username
      </ng-container>
    </button>
  </nb-card-footer>
</nb-card>
