.custom-card {
  display: flex;
  flex-direction: column;
  height: auto;
  align-self: center;
}

.card-header {
  border: none;
  box-shadow: 0px 5px 4px #0e1329;

  h5 {
    align-self: center;
  }
}

.card-body {
  flex-grow: 1;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-self:center;
}

.form-row {
  display: flex;
  align-items: center;
  width: 100%;
  margin-bottom: 10px;

  span:hover {
    color: var(--color-info-300);
    cursor: pointer;
    text-decoration: underline;
  }
}

.form-row nb-icon {
  margin-right: 10px;
}

.card-footer {
  display: flex;
  align-self:center;
  gap: 20px;
}
