<ng-container *ngIf="isFetching$ | async; then dataFetching; else dataFetched">
</ng-container>

<ng-template #dataFetched>
  <nb-card
    accent="info">
    <nb-card-header>
      <nb-search type="rotate-layout"></nb-search>
      <button
        *ngIf="isFiltered$ | async"
        nbButton
        outline
        status="primary"
        shape="round"
        class="reset-button"
        (click)="resetSearch()"
      >
        <nb-icon
          icon="refresh-outline"
        >
        </nb-icon>
        Reset search
      </button>
    </nb-card-header>
    <nb-card-body>
      <ag-grid-angular
        #agGridAngular
        style="width: 100%; height: 300px"
        class="ag-theme-alpine"
        [columnDefs]="columnDefs"
        [defaultColDef]="defaultColDef"
        [rowData]="people$ | async"
        [rowSelection]="'multiple'"
        [animateRows]="true"
        (gridReady)="onGridReady($event)"
        (cellClicked)="onCellClicked($event)"
      ></ag-grid-angular>
    </nb-card-body>
  </nb-card>
</ng-template>

<ng-template #dataFetching>
  <nb-spinner
    [nbSpinner]="true"
    status="basic"
    class="spinner">
  </nb-spinner>
</ng-template>
