<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bestmovies.sep6_project.dao.interfaces.IFavoritesMapper">
    <resultMap id="result" type="Movie">
        <result property="id" column="id"/>
        <result property="title" column="title"/>
        <result property="year" column="year"/>
        <result property="userRating" column="rating"/>
    </resultMap>
    <select id="getFavorites" resultMap="result">
        SELECT m.id, m.title, m.`year`, f.rating
        FROM favorites f
        INNER JOIN movies m ON m.id = f.movie_id
        WHERE user_id = #{userId};
    </select>
    <insert id="addMovieToFavorites">
        INSERT INTO favorites (user_id, movie_id) VALUES (#{userId}, #{movieId});
    </insert>
    <insert id="addMoviesToFavoritesWithRating">
        INSERT INTO favorites (user_id, movie_id, rating) VALUES (#{userId}, #{movieId}, #{rating});
    </insert>
    <update id="addRatingToMovie">
        UPDATE favorites SET rating = #{rating} WHERE user_id = #{userId} AND movie_id = #{movieId};
    </update>
    <update id="removeRatingFromMovie">
        UPDATE favorites SET rating = NULL WHERE user_id = #{userId} AND movie_id = #{movieId};
    </update>
    <delete id="removeMovieFromFavorites">
        DELETE FROM favorites WHERE movie_id = #{movieId} AND user_id = #{userId};
    </delete>
</mapper>
