<nb-card size="small" class="custom-card">
  <nb-card-header class="card-header">
    <h5>Register</h5>
  </nb-card-header>
  <nb-card-body class="card-body">
    <div class="form-row">
      <nb-icon nbPrefix icon="person-outline" pack="eva"></nb-icon>
      <input type="username" [(ngModel)]="userName" nbInput status="primary" placeholder="Username">
    </div>
    <div class="form-row">
      <nb-icon nbPrefix icon="email-outline" pack="eva"></nb-icon>
      <input type="email" [(ngModel)]="email" nbInput status="primary" placeholder="Email">
    </div>
    <div class="form-row">
      <nb-icon nbPrefix icon="person-outline" pack="eva"></nb-icon>
      <input type="text" [(ngModel)]="firstName" nbInput status="primary" placeholder="First Name">
    </div>
    <div class="form-row">
      <nb-icon nbPrefix icon="person-outline" pack="eva"></nb-icon>
      <input type="text" [(ngModel)]="lastName" nbInput status="primary" placeholder="Last Name">
    </div>
    <div class="form-row">
      <nb-icon nbPrefix icon="shield-outline" pack="eva"></nb-icon>
      <div class="password">
        <input [type]="getInputType(getCheckType().PASSWORD)" nbInput [(ngModel)]="password" status="primary" placeholder="Password">
        <button nbSuffix nbButton ghost (click)="toggleShowPassword(getCheckType().PASSWORD)">
          <nb-icon [icon]="showPassword ? 'eye-outline' : 'eye-off-2-outline'" pack="eva" [attr.aria-label]="showPassword ? 'hide password' : 'show password'"></nb-icon>
        </button>
      </div>
    </div>
    <div class="form-row">
      <nb-icon nbPrefix icon="shield-outline" pack="eva"></nb-icon>
      <div class="password">
        <input [type]="getInputType(getCheckType().REPEATED_PASSWORD)" nbInput [(ngModel)]="repeatPassword" status="primary" placeholder="Repeat password">
        <button nbSuffix nbButton ghost (click)="toggleShowPassword(getCheckType().REPEATED_PASSWORD)">
          <nb-icon [icon]="showRepeatedPassword ? 'eye-outline' : 'eye-off-2-outline'" pack="eva" [attr.aria-label]="showPassword ? 'hide password' : 'show password'"></nb-icon>
        </button>
      </div>
    </div>
  </nb-card-body>
  <nb-card-footer class="card-footer">
    <button nbButton outline="true" status="control"
    (click)="register()">
      Register
    </button>
  </nb-card-footer>
</nb-card>
