<ng-container *ngIf="isFetching$ | async; then dataFetching; else dataFetched">
</ng-container>

<ng-template #dataFetched>
  <nb-list
    nbInfiniteList
    listenWindowScroll
    [threshold]="500"
    (bottomThreshold)="loadNext()"
    class="movie-container"
    *ngIf="moviesDisplayed$ | async as movies"
  >
    <nb-list-item *ngFor="let movie of moviesDisplayed$ | async">
      <nb-card size="medium" class="poster-movie">
        <nb-card-header class="header-poster-movie">
          <div class="movie-title">{{ movie.title }}</div>
        </nb-card-header>
        <nb-card-body class="body-poster-movie">
          <div class="show-more-button">
            <button
              nbButton
              status="primary"
              (click)="redirectToMovieOverviewPage(movie.id)"
            >
              <nb-icon icon="film-outline"></nb-icon>
              Show more
            </button>
          </div>
          <img [src]="movie.posterUrl" [alt]="movie.title">
        </nb-card-body>
        <nb-card-footer class="footer-poster-movie">
          <div>
            <span class="movie-year">Year of publication: {{ movie.year }}</span>
          </div>
        </nb-card-footer>
      </nb-card>
    </nb-list-item>
  </nb-list>
</ng-template>

<ng-template #dataFetching>
  <nb-spinner
    [nbSpinner]="true"
    status="basic"
    class="spinner">
  </nb-spinner>
</ng-template>

