<ng-container *ngIf="isFetching$ | async; then dataFetching; else dataFetched">
</ng-container>

<ng-template #dataFetching>
  <nb-spinner
    status="basic"
    class="spinner">
  </nb-spinner>
</ng-template>

<ng-template #dataFetched>
  <div class="movie-information">
    <nb-card>
      <nb-card-body>
        <div class="movies">
          <nb-card>
            <nb-card-header class="header-information">
              <span class="title">Movies</span>

              <div class="right-side">
                <bm-search
                  (searchEvent)="onSearch($event)"
                  (resetSearch)="resetSearch()"
                  [isFiltered]="isFiltered$ | async"
                  [placeHolder]="placeHolder"
                ></bm-search>
              </div>
            </nb-card-header>
            <nb-card-body>
              <nb-list class="movie-container">
                <nb-list-item *ngFor="let movie of movies$ | async">
                  <nb-card size="medium" class="poster-movie">
                    <nb-card-header class="header-poster-movie">
                      <div class="movie-title">{{ movie.title }}</div>
                    </nb-card-header>
                    <nb-card-body class="body-poster-movie">
                      <div class="show-more-button">
                        <button
                          nbButton
                          status="primary"
                          (click)="redirectToMovieOverviewPage(movie.id)"
                        >
                          <nb-icon icon="film-outline"></nb-icon>
                          Show more
                        </button>
                      </div>
                      <img *ngIf="movie.posterImage" [src]="movie.posterImage" [alt]="movie.title"/>
                      <img
                        *ngIf="!movie.posterImage"
                        src="../../../assets/no-poster-available.jpg"
                        [alt]="movie.title"
                      />
                    </nb-card-body>
                    <nb-card-footer class="footer-poster-movie">
                      <div>
                        <span class="person-birth">Year of publication: {{ movie.year }}</span>
                      </div>
                    </nb-card-footer>
                  </nb-card>
                </nb-list-item>
              </nb-list>
            </nb-card-body>
            <nb-card-footer class="footer-page">
              <button nbButton status="primary" nbTooltip="Load more movies" (click)="loadNext()">
                <nb-icon icon="arrow-ios-downward-outline" pack="eva"></nb-icon>
              </button>
            </nb-card-footer>
          </nb-card>
        </div>
      </nb-card-body>
    </nb-card>
  </div>
</ng-template>
