<ng-container *ngIf="isFetching$ | async; then dataFetching; else dataFetched"></ng-container>
<ng-template #dataFetched>
  <div class="overall-information"
       *ngIf="{movies: movies$ | async,
               people: people$ | async,
               bestMovies: bestMovies$ | async} as info">
    <div class="best-movies">
      <nb-card>
        <nb-card-header>
          Best movies
        </nb-card-header>
        <nb-card-body>
          <ag-grid-angular
            #agGridAngular
            style="width: 100%; height: 300px"
            class="ag-theme-alpine"
            [columnDefs]="columnDefs"
            [defaultColDef]="defaultColDef"
            [rowData]="bestMovies$ | async"
            [rowSelection]="'multiple'"
            [animateRows]="true"
            (gridReady)="onGridReady($event)"
            (cellClicked)="onCellClicked($event)"
          ></ag-grid-angular>
        </nb-card-body>
      </nb-card>
    </div>
    <div class="general-information">
      <nb-card>
        <nb-card-header>
          Overall information
        </nb-card-header>
        <nb-card-body>
          <div>
            <nb-icon
              icon="film-outline">
            </nb-icon>
            Movies: {{info.movies.length}}
          </div>
          <div>
            <nb-icon
              icon="people-outline">
            </nb-icon>
            People: {{info.people.length}}
          </div>
        </nb-card-body>
      </nb-card>
    </div>
  </div>
</ng-template>

<ng-template #dataFetching>
  <nb-spinner
    [nbSpinner]="true"
    status="basic"
    class="spinner">
  </nb-spinner>
</ng-template>
