<ng-container *ngIf="isFetching$ | async; then dataFetching; else dataFetched">
</ng-container>
<ng-template #dataFetched>
  <nb-card
    *ngIf="movie$ | async as movie">
    <nb-card-header>
      <div class="title-and-year">
        <h1>
          <span>
            {{ movie.title }}
          </span>
        </h1>
        <ul>
          <li>
            Year of publication: {{ movie.year}}
          </li>
        </ul>
      </div>

<!--      TODO do rating with stars-->
      <div class="rating"
        *ngIf="rating$ | async as rating">
        <h3>
          Rating {{rating.rating}}
        </h3>
        <h6>
          Votes: {{rating.votes}}
        </h6>
      </div>
    </nb-card-header>
    <nb-card-body class="grid-container">
      <div class="left-content">
        <nb-card size="medium" class="poster-movie-overview">
          <nb-card-body class="body-poster-movie">
            <img *ngIf="movie.posterUrl"
                 [src]="movie.posterUrl" [alt]="movie.title">
            <img *ngIf="!movie.posterUrl"
                 src="../../../assets/no-poster-available.jpg" [alt]="movie.title">
            <p>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam eu ullamcorper dui. Ut suscipit urna et neque luctus, in malesuada lacus euismod. Mauris porttitor pellentesque placerat. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Fusce gravida vel lorem vitae mollis. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam eu ullamcorper dui. Ut suscipit urna et neque luctus, in malesuada lacus euismod. Mauris porttitor pellentesque placerat. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Fusce gravida vel lorem vitae mollis.
            </p>
          </nb-card-body>
        </nb-card>

        <div class="border">
        </div>

        <nb-card class="directors-stars"
        *ngIf="{ stars: stars$ | async, directors: directors$ | async} as cast">
          <nb-card-header>
            <h3>
              Directors and actors
            </h3>
          </nb-card-header>
          <nb-card-body>
<!--            directors-->
            <ul>
              <li *ngFor="let director of cast.directors"
                  [ngClass]="{ 'undefined-item': director === undefined }"
                  (click)="redirectToDirectorOverview(director.id)">
                <ng-container *ngIf="director !== undefined">
                  {{ director.name }}
                </ng-container>
              </li>
            </ul>

<!--            stars-->
            <ul>
              <li *ngFor="let star of cast.stars"
                  [ngClass]="{ 'undefined-item': star === undefined }"
                  (click)="redirectToStarOverview(star.id)">
                <ng-container *ngIf="star !== undefined">
                  {{ star.name }}
                </ng-container>
              </li>
            </ul>
          </nb-card-body>
        </nb-card>
      </div>
      <nb-card class="sidebar">
        <nb-card-header>
          <h5> Lists of top {{TOP_SIZE_LIST}} movies you might be interested</h5>
        </nb-card-header>
        <nb-card-body>
          <nb-list *ngIf="topMovies$ | async as topMovies">
            <nb-list-item *ngFor="let movie of topMovies"
            (click)="redirectToMovieOverviewPage(movie.id)">
              {{ movie.title }} from {{ movie.year }}
            </nb-list-item>
          </nb-list>
        </nb-card-body>
      </nb-card>
    </nb-card-body>
  </nb-card>
  <!--  TODO to be implemented-->
</ng-template>
<ng-template #dataFetching>
  <nb-spinner
    [nbSpinner]="true"
    status="basic"
    class="spinner">
  </nb-spinner>
</ng-template>
