<ng-container *ngIf="isFetching$ | async; then dataFetching; else dataFetched">
</ng-container>
<ng-template #dataFetched>
  <nb-card
    *ngIf="{movie: movie$ | async, rating: rating$ | async} as movieInformation">
    <nb-card-header>
      <div class="person-name">
        <h1>
          <span>
            {{
            movieInformation?.movie?.title }}
          </span>
        </h1>
        <ul>
          <li>
            Year of publication: {{ movieInformation?.movie?.year}}
          </li>
        </ul>
      </div>
      <div class="rating"
           *ngIf="movieInformation.movie !== null">
        <div class="item-in-rating"
             nbTooltip="Best movies rating"
             *ngIf="movieInformation.rating">
          <p class="title-rating">BM Rating</p>
          <p class="info-rating">
            <nb-icon
              icon="star"
              pack="eva"
              status="warning">
            </nb-icon>
            {{movieInformation.rating.rating}} <span>/ 10</span></p>
          <p class="votes-rating"> {{ movieInformation.rating.votes }} votes</p>
        </div>
        <div class="item-in-rating"
             nbTooltip="Best movies rating"
             *ngIf="!movieInformation.rating">
          <p class="title-rating">BM Rating</p>
          <p class="info-rating">
            No rating available for this movie
          </p>
        </div>

        <div class="item-in-rating"
             *ngIf="movieInformation.movie.userRating"
             nbTooltip="Click to change or remove rating"
             (click)="open(dialogUserRating, getActionUserRatingEnum().REMOVE)">
          <p class="title-rating">Your rating</p>
          <p class="info-rating info-your-rating">
            <nb-icon
              icon="star"
              pack="eva"
              status="info">
            </nb-icon>
            {{movieInformation.movie.userRating}} <span>/ 10</span></p>
        </div>
        <div class="item-in-rating"
             *ngIf="!movieInformation.movie.userRating"
             nbTooltip="Click to add rating"
             (click)="open(dialogUserRating, getActionUserRatingEnum().ADD)">
          <p class="title-rating">Your rating</p>
          <p class="info-rating info-your-rating">
            No rating given
          </p>
        </div>
      </div>
    </nb-card-header>
    <nb-card-body class="grid-container">
      <div class="left-content">
        <nb-card size="medium" class="poster-movie-overview">
          <nb-card-body class="body-poster-movie">
            <img *ngIf="movieInformation?.movie?.posterImage"
                 [src]="movieInformation?.movie?.posterImage" [alt]="movieInformation?.movie?.title">
            <img *ngIf="!movieInformation?.movie?.posterImage"
                 src="../../../assets/no-poster-available.jpg" [alt]="movieInformation?.movie?.title">
            <ng-container *ngIf="movieInformation.movie">
              <p *ngIf="movieInformation.movie.description">
                {{ movieInformation.movie.description }}
              </p>
              <p *ngIf="!movieInformation.movie.description">
                There is no description for this movie.
              </p>
            </ng-container>
          </nb-card-body>
        </nb-card>

        <div class="border">
        </div>

        <nb-card class="directors-stars"
                 *ngIf="{ stars: stars$ | async, directors: directors$ | async} as cast">
          <nb-card-header>
            <h3>
              Directors and actors
            </h3>
          </nb-card-header>
          <nb-card-body>
            <h6>Directors</h6>
            <nb-list *ngIf="cast.directors as directors">
              <nb-list-item *ngFor="let director of directors"
                            (click)="redirectToDirectorOverview(director.id)">
                {{ director.name }}
              </nb-list-item>
            </nb-list>

            <h6>Stars</h6>
            <nb-list *ngIf="cast.stars as stars">
              <nb-list-item *ngFor="let star of stars"
                            (click)="redirectToStarOverview(star.id)">
                {{ star.name }}
              </nb-list-item>
            </nb-list>
          </nb-card-body>
        </nb-card>
      </div>
      <nb-card class="sidebar">
        <nb-card-header>
          <h5> Lists of top {{TOP_SIZE_LIST}} movies you might be interested</h5>
        </nb-card-header>
        <nb-card-body>
          <h6>
            <nb-icon
              icon="arrow-forward-outline"
              pack="eva"
            ></nb-icon>
            Top movies of all time
          </h6>
          <nb-list *ngIf="topMovies$ | async as topMovies">
            <nb-list-item *ngFor="let movie of topMovies"
                          (click)="redirectToMovieOverviewPage(movie.id)">
              {{ movie.title }} from {{ movie.year }}
            </nb-list-item>
          </nb-list>

          <h6 *ngIf="movieInformation.rating">
            <nb-icon
              icon="arrow-forward-outline"
              pack="eva"
            ></nb-icon>
            Top movies by rating {{ movieInformation.rating.rating }}
          </h6>
          <nb-list *ngIf="topMoviesByRating$ | async as topMoviesByRating">
            <nb-list-item *ngFor="let movie of topMoviesByRating"
                          (click)="redirectToMovieOverviewPage(movie.id)">
              {{ movie.title }} from {{ movie.year }}
            </nb-list-item>
          </nb-list>

          <h6 *ngIf="movieInformation.movie">
            <nb-icon
              icon="arrow-forward-outline"
              pack="eva"
            ></nb-icon>
            Top movies by year {{ movieInformation?.movie?.year }}
          </h6>
          <nb-list *ngIf="topMoviesByYear$ | async as topMoviesByYear">
            <nb-list-item *ngFor="let movie of topMoviesByYear"
                          (click)="redirectToMovieOverviewPage(movie.id)">
              {{ movie.title }} from {{ movie.year }}
            </nb-list-item>
          </nb-list>
        </nb-card-body>
      </nb-card>
    </nb-card-body>
  </nb-card>
</ng-template>

<ng-template #dialogUserRating let-data let-ref="dialogRef">
  <nb-card *ngIf="data.actionUserRating === getActionUserRatingEnum().REMOVE">
    <nb-card-header class="header-dialog">
      <h6> Change or remove rating</h6>
    </nb-card-header>
    <nb-card-body
      class="body-dialog"
    *ngIf="movie$ | async as movie">
      <div
        style="cursor: default;"
        class="item-in-rating"
           *ngIf="movie.userRating">
        <p class="title-rating">Your rating</p>
        <p class="info-rating info-your-rating">
          <nb-icon
            icon="star"
            pack="eva"
            status="info">
          </nb-icon>
          {{movie.userRating}} <span> / 10</span></p>
      </div>
    </nb-card-body>
    <nb-card-footer
    class="footer-dialog">
      <button
        nbButton
        (click)="removeUserRating(ref)"
        status="danger">
        Remove
      </button>
    </nb-card-footer>
  </nb-card>
  <nb-card *ngIf="data.actionUserRating === getActionUserRatingEnum().ADD">
    <nb-card-header class="header-dialog">
      <h6>Add rating</h6>
    </nb-card-header>
    <nb-card-body
      class="body-dialog"
      *ngIf="movie$ | async as movie">
      <div
        style="cursor: default;"
        class="item-in-rating"
           *ngIf="!movie.userRating">
        <p class="title-rating">No rating given</p>
      </div>
      <input class="dialog-input-add-rating"
        nbInput
             placeholder="Add rating 1-10"
        [(ngModel)]="newMovieUserRating">
    </nb-card-body>
    <nb-card-footer
    class="footer-dialog">
      <button
        nbButton
        (click)="addUserRating(ref)"
        status="success">
        Add
      </button>
    </nb-card-footer>
  </nb-card>
</ng-template>

<ng-template #dataFetching>
  <nb-spinner
    status="basic"
    class="spinner">
  </nb-spinner>
</ng-template>
