<ng-container *ngIf="isFetching$ | async; then dataFetching; else dataFetched">
</ng-container>
<ng-template #dataFetched>
  <nb-card
    *ngIf="{movie: movie$ | async, rating: rating$ | async} as movieInformation">
    <nb-card-header>
      <div class="person-name">
        <h1>
          <span>
            {{
            movieInformation?.movie?.title }}
          </span>
        </h1>
        <ul>
          <li>
            Year of publication: {{ movieInformation?.movie?.year}}
          </li>
        </ul>
      </div>

      <!--      TODO do rating with stars-->
      <div class="rating"
           *ngIf="movieInformation.rating">
        <div class="item-in-rating"
        nbTooltip="Best movies rating">
          <p class="title-rating">BM Rating</p>
          <p class="info-rating">
            <nb-icon
              icon="star"
              pack="eva"
            status="warning">
            </nb-icon>
            {{movieInformation.rating.rating}} <span>/ 10</span></p>
          <p class="votes-rating"> {{ movieInformation.rating.votes }} votes</p>
        </div>

<!--        TODO implement modal here-->
        <div class="item-in-rating">
          <p class="title-rating">Your rating</p>
          <p class="info-rating info-your-rating">
            <nb-icon
              icon="star"
              pack="eva"
            status="info">
            </nb-icon>
        </div>
      </div>
      <div class="rating"
           *ngIf="!movieInformation.rating">
        <h3>
          No rating for this movie
        </h3>
      </div>
    </nb-card-header>
    <nb-card-body class="grid-container">
      <div class="left-content">
        <nb-card size="medium" class="poster-movie-overview">
          <nb-card-body class="body-poster-movie">
            <img *ngIf="movieInformation?.movie?.posterImage"
                 [src]="movieInformation?.movie?.posterImage" [alt]="movieInformation?.movie?.title">
            <img *ngIf="!movieInformation?.movie?.posterImage"
                 src="../../../assets/no-poster-available.jpg" [alt]="movieInformation?.movie?.title">
            <ng-container *ngIf="movieInformation.movie">
              <p *ngIf="movieInformation.movie.description">
                {{ movieInformation.movie.description }}
              </p>
              <p *ngIf="!movieInformation.movie.description">
                There is no description for this movie.
              </p>
            </ng-container>
          </nb-card-body>
        </nb-card>

        <div class="border">
        </div>

        <nb-card class="directors-stars"
                 *ngIf="{ stars: stars$ | async, directors: directors$ | async} as cast">
          <nb-card-header>
            <h3>
              Directors and actors
            </h3>
          </nb-card-header>
          <nb-card-body>
            <h6>Directors</h6>
            <nb-list *ngIf="cast.directors as directors">
              <nb-list-item *ngFor="let director of directors"
                            (click)="redirectToDirectorOverview(director.id)">
                {{ director.name }}
              </nb-list-item>
            </nb-list>

            <h6>Stars</h6>
            <nb-list *ngIf="cast.stars as stars">
              <nb-list-item *ngFor="let star of stars"
                            (click)="redirectToStarOverview(star.id)">
                {{ star.name }}
              </nb-list-item>
            </nb-list>
          </nb-card-body>
        </nb-card>
      </div>
      <nb-card class="sidebar">
        <nb-card-header>
          <h5> Lists of top {{TOP_SIZE_LIST}} movies you might be interested</h5>
        </nb-card-header>
        <nb-card-body>
          <h6>
            <nb-icon
              icon="arrow-forward-outline"
              pack="eva"
            ></nb-icon>
            Top movies of all time
          </h6>
          <nb-list *ngIf="topMovies$ | async as topMovies">
            <nb-list-item *ngFor="let movie of topMovies"
                          (click)="redirectToMovieOverviewPage(movie.id)">
              {{ movie.title }} from {{ movie.year }}
            </nb-list-item>
          </nb-list>

          <h6 *ngIf="movieInformation.rating">
            <nb-icon
              icon="arrow-forward-outline"
              pack="eva"
            ></nb-icon>
            Top movies by rating {{ movieInformation.rating.rating }}
          </h6>
          <nb-list *ngIf="topMoviesByRating$ | async as topMoviesByRating">
            <nb-list-item *ngFor="let movie of topMoviesByRating"
                          (click)="redirectToMovieOverviewPage(movie.id)">
              {{ movie.title }} from {{ movie.year }}
            </nb-list-item>
          </nb-list>

          <h6 *ngIf="movieInformation.movie">
            <nb-icon
              icon="arrow-forward-outline"
              pack="eva"
            ></nb-icon>
            Top movies by year {{ movieInformation?.movie?.year }}
          </h6>
          <nb-list *ngIf="topMoviesByYear$ | async as topMoviesByYear">
            <nb-list-item *ngFor="let movie of topMoviesByYear"
                          (click)="redirectToMovieOverviewPage(movie.id)">
              {{ movie.title }} from {{ movie.year }}
            </nb-list-item>
          </nb-list>
        </nb-card-body>
      </nb-card>
    </nb-card-body>
  </nb-card>
  <!--  TODO to be implemented-->
</ng-template>
<ng-template #dataFetching>
  <nb-spinner
    status="basic"
    class="spinner">
  </nb-spinner>
</ng-template>
