<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <mappers>
        <mapper resource = "com/bestmovies/sep6_project/dao/mappers/MovieMapper.xml"/>
        <mapper resource = "com/bestmovies/sep6_project/dao/mappers/RatingMapper.xml"/>
        <mapper resource = "com/bestmovies/sep6_project/dao/mappers/StarMapper.xml"/>
        <mapper resource = "com/bestmovies/sep6_project/dao/mappers/DirectorMapper.xml"/>
    </mappers>
</configuration>