<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bestmovies.sep6_project.dao.interfaces.IDirectorMapper">

    <resultMap id="DirectorResultMap" type="com.bestmovies.sep6_project.model.Director">
        <result property="id" column="id"/>
        <result property="name" column="name" javaType="java.lang.String"/>
        <result property="birthYear" column="birth" javaType="int"/>
        <collection property="movies" column="id" select="com.bestmovies.sep6_project.dao.interfaces.IMovieReaderMapper.getAllMoviesForDirector"/>
    </resultMap>

    <select id="getAll" resultMap="DirectorResultMap">
        SELECT p.id AS id, p.name, p.birth
        FROM people p
                 JOIN directors d ON p.id = d.person_id limit 10
    </select>
</mapper>
