<?xml version = "1.0" encoding = "UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.bestmovies.sep6_project.dao.interfaces.IDirectorMapper">

    <resultMap id="DirectorResultMap" type="com.bestmovies.sep6_project.model.Director">
        <association property="movie" column="movie_id" javaType="com.bestmovies.sep6_project.model.Movie" select="com.bestmovies.sep6_project.dao.interfaces.MovieReaderMapper.getMovieById"/>
        <association property="person" column="person_id" javaType="com.bestmovies.sep6_project.model.Person" select="com.bestmovies.sep6_project.dao.interfaces.MovieReaderMapper.getPersonById"/>
    </resultMap>

    <select id="getAll" resultMap="RatingsResultMap">
        SELECT * FROM ratings limit 10;
    </select>
</mapper>