<?xml version = "1.0" encoding = "UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.bestmovies.sep6_project.dao.interfaces.IDirectorMapper">

    <resultMap id="DirectorResultMap" type="com.bestmovies.sep6_project.model.Director">
        <result property="id" column="id" />
        <result property="name" column="name" />
        <result property="birthYear" column="birth" />
        <association property="movie" column="movie_id" javaType="com.bestmovies.sep6_project.model.Movie" select="com.bestmovies.sep6_project.dao.interfaces.MovieReaderMapper.getMovieById"/>
    </resultMap>

    <select id="getAll" resultMap="DirectorResultMap">
        select name, birth, id from people
            inner join directors d on people.id = d.person_id;
    </select>
</mapper>