<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bestmovies.sep6_project.dao.interfaces.IStarMapper">

    <resultMap id="StarResultMap" type="Star">
        <result property="id" column="id"/>
        <result property="name" column="name" javaType="java.lang.String"/>
        <result property="birthYear" column="birth" javaType="int"/>
        <collection property="movies" column="id" select="com.bestmovies.sep6_project.dao.interfaces.IMovieMapper.getAllMoviesForStars"/>
    </resultMap>

    <select id="getAll" resultMap="StarResultMap">
        SELECT p.id AS id, p.name, p.birth
        FROM people p
                 JOIN stars s ON p.id = s.person_id
    </select>

    <select id="getStarById" resultMap="StarResultMap">
        SELECT p.id, p.name, p.birth
        FROM people p
                 LEFT JOIN stars s ON p.id = s.person_id
        WHERE s.person_id = #{id}
            LIMIT 1;
    </select>

    <insert id = "createStar" parameterType = "Star" useGeneratedKeys='true' keyProperty='id'>
        INSERT INTO people (name, birth) VALUES (#{name}, #{birthYear});
    </insert>

    <insert id = "addMovieStar" parameterType = "Star">
        INSERT INTO stars (movie_id, person_id) VALUES (#{addMovie.id}, #{id});
    </insert>

    <update id = "updateStar" parameterType = "Star">
        UPDATE people
        SET name = #{name}, birth = #{birthYear}
        WHERE id=#{id};
    </update>

    <delete id = "deleteStar" parameterType = "long">
        DELETE FROM people WHERE id = #{id}
    </delete>
</mapper>
